/* *{border:1px solid black;} */
html{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
body{
	text-align: center;
	background: white;
}
#base{
	margin:20px;
	padding:5px;
}
#base div{
	padding: 10px;
	text-align: center;
	font-weight: 100;
	float:left;
	width:40px;
	font-size: larger;
}
#base div [data-op='multiply'], #base div [data-op='divide']{
	background: rgba(255,255,255,0.5);
	padding:10px;
	cursor: pointer;
}
#base div [data-op='multiply']:hover, #base div [data-op='divide']:hover{
	background: grey;
	color:white;
}
#base div [data-op='multiply']:active, #base div [data-op='divide']:active{
	background: black;
	color:white;
}

#m{ background: lightgrey; }
#kg{ background: pink;}
#s{ background: darkorange; }
#A{ background: lightblue; }
#K{ background: tan; }
#cd{ background: gold; }
#mol{ background: lightgreen; }

#frac{padding:20px;}
#frac #top, #frac #bottom{
	display: block; height:50px; width:420px; background:#eee;
	font-size:xx-large; text-align: center;
}
#top{border-bottom: 1px solid black;}

#stack{width:430px;text-align:left;padding:20px;}
#stack div{display:block;width:430px;}
#stack, #frac{float:left;}

.exp{vertical-align:super;font-size: x-large;}
.unit{padding-left:5px;}

#symbol{font-size:40px; font-weight:bolder; height:40px;}
#name{font-variant:small-caps; font-size:xx-large;height:40px;}
#purpose{color:grey;height:20px;}

footer{
	position: fixed;
	bottom:10px;
	right:10px;
}


